.dub
docs.json
__dummy.html
*.o
*.obj
/__test__library__
.idea/
/libporterstemmer.a
/porterstemmer.iml

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html

# nothing to see here!!!
/ASOIAF
/test/stemmed-bello-gallico.txt
